<div class="row uniform 50%">
  <div class="6u 12u$(xsmall)">
    <%= form_for trip do |f| %>

    <% if trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trip.errors.count, "error") %> prohibited this trip from being saved:</h2>
      <ul>
        <% trip.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <%= f.hidden_field :user_id %>

    <%= f.label :name %>
    <%= f.text_field :name, placeholder: (trip.errors.full_messages_for(:name).first || "Name this trip") %>
  </div>
  <div class="6u$ 12u$(xsmall)">

  </div>
</div><br>
<div class="12u$">
      <%= f.label :categories %>
    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %>
    <%= f.fields_for :categories, trip.categories.build do |categories_fields| %>
    <%= categories_fields.text_field :name, placeholder: "trip categories" %>
    <% end %>
  </div>
<br>
<div class="12u$">
  <%= f.text_area :content, placeholder: (trip.errors.full_messages_for(:content).first || "Narrate the trip"), rows: "10" %>
</div>
<br>
<div class="12u$">
  <ul class="actions">
    <li><%=f.submit "Submit", class: "special" %></li>
    <li><input type="reset" value="Reset"></li>
  </ul>
</div>

  <% end %>
