<div class="12u$">
  <%= form_for trip do |f| %>
    <a href="#" class="close tooltip">
      <span class="tooltiptext">Close [x]</span>
      <ul class="errorMessages"></ul>
    </a>
      <%= hidden_field_tag "user_id", @user_id %>

      <%= f.label :name %>
      <%= f.text_field :name, placeholder: "Name this trip", :required => true %>

      <%= f.label :categories_attributes, "Select Categories" %>
      <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %>

        <%= f.fields_for :categories, trip.categories.build do |categories_fields| %>
          <%= f.label :category, "Create Category" %>
          <%= categories_fields.text_field :name, placeholder: "categorize it", :required => true %>
        <% end %>
      <br>
      <div class="tooltip">
        <%= f.label :content, "Tell us about the Trip" %>
        <span class="tooltiptext">At least 600 characters</span>
      </div>
      <%= f.text_area :content, placeholder: "Anything you want", rows: "10", :required => true%>
      <br>
      <ul class="actions">
        <li><%=f.submit "Submit", class: "special" %></li>
        <li><input type="reset" value="Reset"></li>
      </ul>
    </div>
  <% end %>
