<!-- Main -->
<br><br>
<section id="main" class="wrapper">
  <div class="container">
		<header class="major special">
			<h2>Trip.<%= @trip.name %></h2>
      <h4>Category: <% @trip.categories.each do |category| %>
        <%= link_to category.name, category_path(@trip.category) if @trip.category %></h4>
			<p>By: <%= link_to @trip.planner.name, planner_path(@trip.planner) if @trip.planner %>
      (<%= link_to "Edit Trip", edit_planner_trip_path(@trip.planner, @trip) if @trip.planner %>)</p>
      <p>For: <%= link_to @trip.goer.name, goer_path(@trip.goer) %></p>
		</header>
			<a href="#" class="image fit"><img src="https://images.unsplash.com/photo-1494587416117-f102a2ac0a8d?w=1500" alt="night city image"></a>
      <p> <%= @trip.content %> </p>
      <% if policy(post).destroy? %>
    		<td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  		<% end %>
  </div>
</section>
