<section id="main" class="wrapper">
  <div class="container">
    <a href="#" class="js-next" data-id="<%=@trip.id%>">Next Trip</a>
		<header class="major special">
			<h2>Trip.<%= @trip.name %></h2>
      <p>Filed under: <% @trip.categories.each do |category| %>
          <%= link_to category.name, category_path(category) if @trip.category_ids %> |
        <% end %></p>
			<p>Creator: <%= link_to @trip.user.name, user_path(@trip.user) %></p>
    </header>
		<a href="#" class="image fit"><img src="https://images.unsplash.com/photo-1494587416117-f102a2ac0a8d?w=1500" alt="night city image"></a>
    <p> <%= @trip.content %> </p>
    <% if current_user.id == @trip.user_id || current_user.role == 'admin' %>
      <td><%= link_to "Edit", edit_trip_path(@trip) %> | <%= link_to 'Delete', @trip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </div>
</section>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $(".js-next").on("click", function() {
      var nextId = parseInt($(".js-next").attr("data-id")) + 1;
      $.get("/trips/" + nextId + ".json", function(data) {
        $(".tripName").text(data["name"]);
        $(".tripCategories").text(data["categories"]);
        $(".tripUser").text(data["user"]);
        $(".tripContent").text(data["content"]);

        $(".js-next").attr("data-id", data["id"]);
      });
    });
  });
</script>
