<!-- Main -->
<br><br>
<section id="main" class="wrapper">
  <div class="container">
		<header class="major special">
			<h2>Trip.<%= @trip.name %></h2>
      <h4>Category: <% @trip.categories.each do |category| %>
        <%= link_to category.name, category_path(@trip.category) if @trip.category %></h4>
			<p>By: <%= link_to @trip.user.name, user_path(@trip.user) %>
        <% if policy(@trip).update? %>
          <%= link_to "Edit", edit_trip_path(@trip) %>
        <% end %>

		</header>
			<a href="#" class="image fit"><img src="https://images.unsplash.com/photo-1494587416117-f102a2ac0a8d?w=1500" alt="night city image"></a>
      <p> <%= @trip.content %> </p>
      <% if policy(@trip).destroy? %>
    		<td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  		<% end %>
  </div>
</section>
