<section id="main" class="wrapper">
	<div class="container">
		<ul class="errorMessages"></ul>
  	<header class="major special">
    	<p>Login</p>
				<%= form_for :user, url: '/sessions' do |f| %>
					Email: <%= f.text_field :email, :required => true %>
					Password: <%= f.password_field :password, :required => true %>
					Password Confirmation <%= f.password_field :password_confirmation, :required => true %>
					<br>
					<%= f.submit "Login" %>
				<% end %>
			「<%= link_to('Log in via Facebook', '/auth/facebook', class: 'button alt') %>」
			「<%= link_to('New? Sign up', '/#two', class: 'button alt') %>」
		</header>
	</div>
</section>
