<section id="main" class="wrapper">
	<div class="container">
  <br><br>
  <header class="major special">
    <p>Login</p>

<%= form_for :user, url: '/sessions' do |f| %>
Email: <%= f.text_field :email %>
Password: <%= f.password_field :password %>
<br>

<!-- Password Confirmation <%= f.password_field :password_confirmation %> -->
<%= f.submit "Login" %>
<% end %>

「<%= link_to('Log in via Facebook', '/auth/facebook', class: 'button alt') %>」
「<%= link_to('New? Sign up', '/#two', class: 'button alt') %>」
</header>
</div>
</section>
