<div class="row uniform 50%">
  <div class="6u 12u$(xsmall)">
		<%= form_for user do |f| %>
    <a href="#" class="close tooltip">
      <span class="tooltiptext">Close [x]</span>
      <ul class="errorMessages"></ul>
    </a>

			<%= f.label :name %>
			<%= f.text_field :name, placeholder: "Name", :required => true %>

			<%= f.label :email %>
			<%= f.text_field :email, placeholder: "Email", :required => true, :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}' %>

			<%= f.label :password %>
			<%= f.password_field :password, placeholder: "A good one", :required => true %>

      <%= f.label :password_confirmation, "Password Confirmation" %>
      <%= f.password_field :password_confirmation, placeholder: "Confirm your Password", :required => true %>

      <%= f.label :role, "Are you a Planner or  a Goer? You can also join our team of Admins" %>
      <%= f.collection_select :role, User::ROLES, :to_s, :humanize %>

			<%= f.label :personality, "What is your travel personality?" %>
			<%= f.select :personality, [['Adventurous'], ['Romantic'], ['Intellectual']] %>

			<%= f.label :reason, "What is your 'motif'?" %>
			<%= f.select :reason, [['Honeymoon'], ['Family Trip'], ['Cleansing Time'], ['For Fun'], ['For Tourism']] %>

			<%= f.label :budget, "What is your budget?" %>
			<%= f.select :budget, [['$1,000'], ['$5,000'], ['$7,000'], ['$10,000']] %>

      <%= f.label :international, "Willing to travel international?" %>
			<%= f.select :international, [['Yes'], ['No']] %>

			<%= f.label :companion, "How many to travel with?" %>
			<%= f.select :companion, [['1-2'], ['2-3'], ['3-4'], ['5+']] %>
			<br><br>
				<%= f.submit "submit" %>
		<% end %>
	</div>
</div>
