<tbody>
  <tr>
    <% users.each do |user| %>
      <td><%= user.role.upcase %></td>
      <td><%= link_to user.name.capitalize, user_path(user) %></td>
      <td><%= user.personality%></td>
      <td><%= user.reason %></td>
      <td><%= user.international %></td>
  </tr>
</tbody>
<% end %>
