<tbody>
  <tr>
    <% users.each do |user| %>



<td><%= link_to user.name, user_path(user) %></td>
<td><%= user.personality%></td>
<td><%= user.reason %></td>
<td><%= user.budget %></td>
<td><%= user.international %></td>
</tr>
</tbody>

<% end %>
