<li><strong> Type: </strong><%= user.personality %></li>
<li><strong> Motif: </strong><%= user.reason %></li>
<li><strong> Budget: </strong><%= user.budget %>
<li><strong> Companion(s): </strong><%= user.companion %>
<li><strong> Global? </strong> <%= user.international %></li>
<li><strong> Contact: </strong><%= user.email %></li>
