<section id="main" class="wrapper">
	<div class="container">
		<div class="table-wrapper">
			<header class="major special">
				<p>Browse Planners</p>
				<br>
				<table>
					<thead>
						<tr>
							<th>Name</th>
							<th>Type</th>
							<th>Motif</th>
	            <th>Global</th>
						</tr>
					</thead>
					<%= render partial: 'planners', locals: {users: @users}  %>
				</table>
			<p>Browse Goers</p>
			<br>
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Type</th>
						<th>Motif</th>
						<th>Global</th>
					</tr>
				</thead>
				<%= render partial: 'goers', locals: {users: @users}  %>
			</table>
			</header>
			<header class="major special">
				<p>Admins</p>
				<% @users.each do |user| %>
					<h4 class="close tooltip"> <% if user.role == 'admin' %>
						「<%= link_to user.name.capitalize, user_path(user) %>」
						<span class="tooltiptext">✈</span>
						<% end %>
					</h4>
					<% end %>
			</header>
		<div class="row">
			<header class="major special">
			<p> find exactly who you're looking for </p>
			<h4> The romantics : <% @romantics.each do |rom| %>
				<%= link_to rom.name, user_path(rom) %>.
			<% end %>
		</h4>
			<em>That's what they're here for.</em>
			<br>
			<h4> The honeymooners : <% @honeymooners.each do |hon| %>
				<%= link_to hon.name, user_path(hon) %>.
			<% end %>
			</h4>
			<em>Exactly that.</em>
			<br>
			<h4> The connoisseurs : <% @connoisseurs.each do |con| %>
				<%= link_to con.name, user_path(con) %>.
			<% end %>
			</h4>
			<em>or Intellectuals looking for more museums.</em>
			<br>
			<h4> The luckystars : <% @luckystars.each do |luc| %>
				<%= link_to luc.name, user_path(luc) %>.
			<% end %>
			</h4>
			<em>No budget limit, also international, of course.</em>
			<br>
			<h4> The roadtrippers : <% @roadtrippers.each do |roa| %>
				<%= link_to roa.name, user_path(roa) %>.
			<% end %>
			</h4>
			<em>Opposite to luckystars, small budget, national & for 1~2.</em>
	</header>

		</div>
	</div>
 </div>
</section>
