<section id="main" class="wrapper">
	<div class="container">
		<!-- Table -->
		<div class="table-wrapper">
			<header class="major special">
				<p>Browse Members</p>
				<br>
			<table>
				<thead>
					<tr>
						<th>Role</th>
						<th>Name</th>
						<th>Type</th>
						<th>Motif</th>
            <th>Global</th>
					</tr>
				</thead>
				<%= render partial: 'users', locals: {users: @users}  %>
			</table>
			</header>
			<header class="major special">
				<p>Admins</p>
				<% @users.each do |user| %>
					<h4> <% if user.role == 'admin' %>
						「<%= link_to user.name.capitalize, user_path(user) %>」
						<% end %>
					</h4>
					<% end %>
			</header>
			<div class="row">
			<div class="6u 12u$(xsmall)">
			<header class="major special">
				<p>Planners</p>
				<% @users.each do |user| %>
					<h4> <% if user.role == 'planner' %>
						「<%= link_to user.name.capitalize, user_path(user) %>」
						<% end %>
					</h4>
					<% end %>
			</header>
		</div>
		<div class="6u 12u$(xsmall)">
			<header class="major special">
				<p>Goers</p>
				<% @users.each do |user| %>
					<h4> <% if user.role == 'goer' %>
						「<%= link_to user.name.capitalize, user_path(user) %>」
						<% end %>
					</h4>
					<% end %>
			</header>
		</div>
		<div class="6u 12u$(xsmall)">
			<header class="major special">
				<p> find exactly who you're looking for </p>
		<h4> The romantics: <% @romantics.each do |rom| %>
			<%= link_to rom.name, user_path(rom) %>.
				<% end %>
		</h4>
		<em>That's what they're here for.</em>
		<br>
		<h4> The honeymooners: <% @honeymooners.each do |hon| %>
			<%= link_to hon.name, user_path(hon) %>.
				<% end %>
		</h4>
		<em>Exactly that.</em>
		<br>
		<h4> The connoisseurs: <% @connoisseurs.each do |con| %>
			<%= link_to con.name, user_path(con) %>.
				<% end %>
		</h4>
		<em>or Intellectuals looking for more museums.</em>
		<br>
		<h4> The luckystars: <% @luckystars.each do |luc| %>
			<%= link_to luc.name, user_path(luc) %>.
				<% end %>
		</h4>
		<em>No budget limit, also international, of course.</em>
	</header>
</div>
		</div>
	</div>
	</div>
</section>
