<section id="main" class="wrapper">
	<div class="container">
  	<br><br>
		<div class="row">
  		<div class="6u 12u$(xsmall)">
    		<h2> <%= @planner.name %></h2>
				<h4> Planner Specs</h4>
				<ul class="alt">
					<li><strong> Type: </strong><%= @planner.personality %></li>
					<li><strong> Motif: </strong><%= @planner.reason %></li>
					<li><strong> Scope: </strong><% if @planner.international = true %>
  					Global <% else %> The US
						<% end %>
					</li>
					<li><strong> Contact: </strong><%= @planner.email %></li>
				</ul>
				<% if current_planner.id == session[:planner_id] %>
					<%= link_to("Work on a draft", new_draft_path, class: 'button alt') %>
					<%= link_to("Submit a trip", new_trip_path, class: 'button alt') %>
					<br><br>
					<%= link_to("Edit Profile", edit_planner_path(@planner)) %>
				<% else %>
					<%= link_to("Go Back", planners_path, class: 'button alt') %>
				<% end %>
			</div>
    	<div class="6u 12u$(xsmall)">
      	<div class="image fit">
        	<img src="https://images.unsplash.com/photo-1429728479567-9c51fb49813e?w=667" alt="">
    		</div>
			</div>
		</div>
		<div class="row">
			<div class="6u 12u$(xsmall)">
			<h4> Drafts </h4>
			<% @planner.drafts.each do |draft| %>
				<ul>
					<li>draft.name</li>
				</ul>
			<% end %>
		</div>
		<div class="6u 12u$(xsmall)">
			<h4> Trips </h4>
			<% @planner.trips.each do |trip| %>
				<ul>
					<li>trip.name</li>
				</ul>
			<% end %>
		</div>
	</div>

	</div>
</section>
