<section id="main" class="wrapper">
	<div class="container">
  	<br><br>
		<div class="row">
  		<div class="6u 12u$(xsmall)">
    		<h2> <%= @planner.name %></h2>
				<h4> Planner Specs</h4>
				<ul class="alt">
					<li><strong> Type: </strong><%= @planner.personality %></li>
					<li><strong> Motif: </strong><%= @planner.reason %></li>
					<li><strong> Scope: </strong><% if @planner.international == true %>
  					Global <% else %> The US
						<% end %>
					</li>
					<li><strong> Contact: </strong><%= @planner.email %></li>
				</ul>
				<% if current_planner.id == session[:planner_id] %>
					<%= link_to("Trip.It", new_trip_path, class: 'button alt') %>
					<br><br>
					<%= link_to("Edit Profile", edit_planner_path(@planner)) %>
				<% else %>
					<%= link_to("Go Back", planners_path, class: 'button alt') %>
				<% end %>
			</div>
    	<div class="6u 12u$(xsmall)">
      	<div class="image fit">
        	<img src="https://images.unsplash.com/photo-1429728479567-9c51fb49813e?w=667" alt="">
    		</div>
			</div>
		</div>
		<div class="row">
			<div class="6u 12u$(xsmall)">
			<h4> Categories </h4>
			<% @planner.trips.category.each do |category| %>
				<ul>
					<li>category.name</li>
					<% end %>
				</ul>
		</div>
		<div class="6u 12u$(xsmall)">
  		<h4> Trips </h4>
			<ul>
				<% @planner.trips.each do |trip| %>
					<li><%= link_to trip.name, trip_path(trip)%>| <%= trip.category.name %> </li>
				<% end %>
			</ul>
		</div>
	</div>

	</div>
</section>
