
<tbody>
  <tr>
    <% goers.each do |goer| %>



<td><%= link_to goer.name, goer_path(goer) %></td>
<td><%= goer.personality%></td>
<td><%= goer.reason %></td>
<td><%= goer.budget %></td>
<td><%= international? goer %></td>
</tr>
</tbody>

<% end %>
