<!DOCTYPE html>
<html>
  <head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"> <script id="facebook-jssdk" data-rocketsrc="//connect.facebook.net/en_US/sdk.js#xfbml=1&amp;appId=932303416802337&amp;version=v2.0" data-rocketoptimized="true"></script><script type="text/javascript">
//<![CDATA[
window.__cfRocketOptions = {byc:0,p:0,petok:"4d065256b07710badfe187bc59e74bb1fcf1758b-1508517532-1800"};
//]]>
</script>
<script type="text/javascript" src="https://ajax.cloudflare.com/cdn-cgi/scripts/78d64697/cloudflare-static/rocket.min.js"></script>
<script type="text/rocketscript" data-rocketoptimized="true">var et_site_url='http://liezljayne.com';var et_post_id='12247';function et_core_page_resource_fallback(a,b){"undefined"===typeof b&&(b=a.sheet.cssRules&&0===a.sheet.cssRules.length);b&&(a.onerror=null,a.onload=null,a.href?a.href=et_site_url+"/?et_core_page_resource="+a.id+et_post_id:a.src&&(a.src=et_site_url+"/?et_core_page_resource="+a.id+et_post_id))}
</script><title>Healthy Chocolate Cereal Recipe (Healthy Cocoa Pops) – Liezl Jayne</title>
<script type="text/rocketscript" data-rocketoptimized="true">document.documentElement.className = document.documentElement.className.replace("no-js","js");</script>
<link rel="dns-prefetch" href="//cdnjs.cloudflare.com">
<link rel="dns-prefetch" href="//netdna.bootstrapcdn.com">
<link rel="dns-prefetch" href="//fonts.googleapis.com">
<link rel="dns-prefetch" href="//s.w.org">
<link rel="alternate" type="application/rss+xml" title="Liezl Jayne » Feed" href="http://liezljayne.com/feed/">
<link rel="alternate" type="application/rss+xml" title="Liezl Jayne » Comments Feed" href="http://liezljayne.com/comments/feed/">
<link rel="alternate" type="application/rss+xml" title="Liezl Jayne » Healthy Chocolate Cereal Recipe (Healthy Cocoa Pops) Comments Feed" href="http://liezljayne.com/healthy-chocolate-cereal-recipe-healthy-cocoa-pops/feed/">
<script type="text/rocketscript" data-rocketoptimized="true">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.3\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.3\/svg\/","svgExt":".svg","source":{"concatemoji":"http:\/\/liezljayne.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.8.2"}};
			!function(a,b,c){function d(a){var b,c,d,e,f=String.fromCharCode;if(!k||!k.fillText)return!1;switch(k.clearRect(0,0,j.width,j.height),k.textBaseline="top",k.font="600 32px Arial",a){case"flag":return k.fillText(f(55356,56826,55356,56819),0,0),b=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,56826,8203,55356,56819),0,0),c=j.toDataURL(),b!==c&&(k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447),0,0),b=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447),0,0),c=j.toDataURL(),b!==c);case"emoji4":return k.fillText(f(55358,56794,8205,9794,65039),0,0),d=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55358,56794,8203,9794,65039),0,0),e=j.toDataURL(),d!==e}return!1}function e(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g,h,i,j=b.createElement("canvas"),k=j.getContext&&j.getContext("2d");for(i=Array("flag","emoji4"),c.supports={everything:!0,everythingExceptFlag:!0},h=0;h<i.length;h++)c.supports[i[h]]=d(i[h]),c.supports.everything=c.supports.everything&&c.supports[i[h]],"flag"!==i[h]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[i[h]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
		</script>
<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
<link rel="stylesheet" id="dashicons-css" href="http://liezljayne.com/wp-includes/css/dashicons.min.css?ver=4.8.2" type="text/css" media="all">
<link rel="stylesheet" id="thickbox-css" href="http://liezljayne.com/wp-includes/js/thickbox/thickbox.css?ver=4.8.2" type="text/css" media="all">
<link rel="stylesheet" id="formidable-css" href="http://liezljayne.com/wp-content/uploads/formidable/css/formidablepro.css?ver=8241359" type="text/css" media="all">
<link rel="stylesheet" id="cntctfrm_form_style-css" href="http://liezljayne.com/wp-content/plugins/contact-form-plugin/css/form_style.css?ver=4.0.7" type="text/css" media="all">
<link rel="stylesheet" id="p3-core-css" href="http://liezljayne.com/wp-content/plugins/p3/assets/css/core.css?ver=2.14.6" type="text/css" media="all">
<link rel="stylesheet" id="p3-responsive-css" href="http://liezljayne.com/wp-content/plugins/p3/assets/css/responsive.css?ver=2.14.6" type="text/css" media="all">
<link rel="stylesheet" id="font-awesome-css" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" media="all">
<link rel="stylesheet" id="mailchimp-for-wp-checkbox-css" href="http://liezljayne.com/wp-content/plugins/mailchimp-for-wp/assets/css/checkbox.min.css?ver=2.3.17" type="text/css" media="all">
<link rel="stylesheet" id="chld_thm_cfg_parent-css" href="http://liezljayne.com/wp-content/themes/pipdig-equinox/style.css?ver=4.8.2" type="text/css" media="all">
<link rel="stylesheet" id="pipdig-style-css" href="http://liezljayne.com/wp-content/themes/liezljayne-child/style.css?ver=1467360364" type="text/css" media="all">
<link rel="stylesheet" id="pipdig-responsive-css" href="http://liezljayne.com/wp-content/themes/pipdig-equinox/css/responsive.css?ver=1467360364" type="text/css" media="all">
<link rel="stylesheet" id="pipdig-fonts-css" href="//fonts.googleapis.com/css?family=Josefin+Sans%3A300%2C400%7CMontserrat%7CEB+Garamond%7CRoboto&amp;subset=latin%2Clatin-ext%2Ccyrillic&amp;ver=4.8.2" type="text/css" media="all">
<link rel="stylesheet" id="simple-social-icons-font-css" href="http://liezljayne.com/wp-content/plugins/simple-social-icons/css/style.css?ver=2.0.1" type="text/css" media="all">
<link rel="stylesheet" id="mailchimp-for-wp-form-css" href="http://liezljayne.com/wp-content/plugins/mailchimp-for-wp/assets/css/form.min.css?ver=2.3.17" type="text/css" media="all">
<link rel="stylesheet" id="really_simple_share_style-css" href="http://liezljayne.com/wp-content/plugins/really-simple-facebook-twitter-share-buttons/style.css?ver=4.8.2" type="text/css" media="all">
<script type="text/rocketscript" data-rocketsrc="http://liezljayne.com/wp-includes/js/jquery/jquery.js?ver=1.12.4" data-rocketoptimized="true"></script>
<script type="text/rocketscript" data-rocketsrc="http://liezljayne.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1" data-rocketoptimized="true"></script>
<script type="text/rocketscript" data-rocketsrc="http://liezljayne.com/wp-content/plugins/css-hero/assets/js/prefixfree.min.js?ver=4.8.2" data-rocketoptimized="true"></script>
<script type="text/rocketscript" data-rocketoptimized="true">
/* <![CDATA[ */
var ajax_tptn_tracker = {"ajax_url":"http:\/\/liezljayne.com\/wp-admin\/admin-ajax.php","top_ten_nonce":"3f688e272c","top_ten_id":"12247","top_ten_blog_id":"1","activate_counter":"11","tptn_rnd":"1108924925"};
/* ]]> */
</script>
<script type="text/rocketscript" data-rocketsrc="http://liezljayne.com/wp-content/plugins/top-10/includes/js/top-10-tracker.js?ver=4.8.2" data-rocketoptimized="true"></script>
<script type="text/rocketscript" data-rocketsrc="http://liezljayne.com/wp-content/plugins/simple-social-icons/svgxuse.js?ver=1.1.21" data-rocketoptimized="true"></script>
<link rel="https://api.w.org/" href="http://liezljayne.com/wp-json/">
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://liezljayne.com/xmlrpc.php?rsd">
<link rel="prev" title="What I Eat In A Day – Get Healthy With Me!" href="http://liezljayne.com/what-i-eat-in-a-day-get-healthy-with-me/">
<meta name="generator" content="WordPress 4.8.2">
<link rel="canonical" href="http://liezljayne.com/healthy-chocolate-cereal-recipe-healthy-cocoa-pops/">
<link rel="shortlink" href="http://liezljayne.com/?p=12247">
<link rel="alternate" type="application/json+oembed" href="http://liezljayne.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fliezljayne.com%2Fhealthy-chocolate-cereal-recipe-healthy-cocoa-pops%2F">
<link rel="alternate" type="text/xml+oembed" href="http://liezljayne.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fliezljayne.com%2Fhealthy-chocolate-cereal-recipe-healthy-cocoa-pops%2F&amp;format=xml">

<style media="all" data-href="http://liezljayne.com/?wpcss_action=show_css">html .site-title img {
    }

html .site-header .container {
    }

html #social_top {
    }

html  .col-sm-6 {
    }


@media screen and (min-width: 0px) and (max-width: 480px) { html .site-title img {   padding-top: 5px; }  }
@media screen and (min-width: 0px) and (max-width: 480px) { html .site-header .container {   padding-top: 50px; }  }
@media screen and (min-width: 481px) and (max-width: 768px) { html .site-header .container {   padding-top: 50px; }  }
@media screen and (min-width: 481px) and (max-width: 768px) { html #social_top {   margin-top: 42px; }  }
@media screen and (min-width: 481px) and (max-width: 768px) { html  .col-sm-6 {   margin-top: 8px; }  }
@media screen and (min-width: 0px) and (max-width: 480px) { html .site-header .container {   margin-bottom: -20px; }  }
@media screen and (min-width: 0px) and (max-width: 480px) { html .site-title img {   width: 270px; }  }  </style>

<meta property="fb:app_id" content="201951520147365"><style type="text/css"> .enews .screenread {
	height: 1px;
    left: -1000em;
    overflow: hidden;
    position: absolute;
    top: -1000em;
    width: 1px; } </style> <style>
		.p3_instagram_post{width:12.5%}
		@media only screen and (max-width: 719px) {
			.p3_instagram_post {
				width: 25%;
			}
			.p3_instagram_hide_mobile {
				display: none;
			}
		}
		</style>
<meta name="google-site-verification" content="l5BuVW9-HLyEZhcm4GNe03U1QmPgVuh9vqkMSlzmNF4"><style type="text/css">.center{text-align:center}


.tptn_posts_widget{width:200px;margin:0 auto;}
img.tptn_thumb {
width:75px !important;
height:75px !important;
display:block;
float:left;
clear:left;
margin-right:10px !important;
padding:3px !important;
padding-bottom:20px !important;
}
.tptn_posts_daily ul li, .tptn_posts ul li {
clear:both;
list-style:none;
margin-bottom:25px;
display:block;
background: none;
padding:0 !important;
}
.tptn_posts_daily ul, .tptn_posts ul {
margin:0 !important;
padding:0 !important;
}
.tptn_posts_daily .tptn_title, .tptn_posts .tptn_title {
font-size:12px;
display:block;
padding-top:5px;
padding-bottom:15px;
text-decoration:none;
line-height: 1.1em;
}
img.tptn_thumb:after {
content: ' ';
width: 100%;
height: 100%;
position: absolute;
top: -1px;
left: -1px;

}
img.tptn_thumb {
vertical-align: bottom;

}</style><!--[if lt IE 9]>
<script src="http://liezljayne.com/wp-content/themes/pipdig-equinox/js/ie/html5.js"></script>
<script src="http://liezljayne.com/wp-content/themes/pipdig-equinox/js/ie/selectivizr.js"></script>
<![endif]-->
<style>.site-top,.menu-bar ul ul,.slicknav_menu{background:#ffece5}.menu-bar ul li a:hover,.menu-bar ul ul li > a:hover,.menu-bar ul ul li:hover > a{color:#999999}.widget-title,.top-slider-section .read-more{background:#ffece5}.widget-title{margin-bottom:15px;}.socialz a:hover, #p3_social_sidebar a:hover{color:#999999}.more-link{background:#ffece5;border:0}.site-footer,.social-footer-outer,.p3_instagram_footer_title_bar{background:#ffece5}.btn,button,input[type="button"],input[type="reset"],input[type="submit"],.menu-bar ul li a,.slicknav_menu,.site-title,.site-description,.entry-title,.entry-meta,.page-title,.page-links a,.site-main [class*="navigation"] a,.site-main .post-navigation a,.site-main .post-navigation .meta-nav,.comment-meta,.comment-author,.widget-title,.comment-date,.menu-titlez,.sharez,.wpp-post-title,.more-link,.ls-slide .read-more,.woocommerce span.onsale,.woocommerce table.shop_table th,.woocommerce a.button,.woocommerce div.product .woocommerce-tabs ul.tabs li,.pipdig-slider-cats,.top-slider-section .read-more,#imagelightbox-caption,.page-numbers a,.page-numbers span,.social-footer,h1,h2,h3,h4,h5,h6,.cat-item a,.widget_archive a,#mosaic-nav{font-family:Roboto}body{font-family:"Times New Roman",Times,serif}.show-author{display:inline}#pipdig-related-posts li{height:190px}.site-top .menu-bar{text-align:left}.site-top .menu-bar ul li a{padding:0 15px}.site-top .menu-bar ul li ul a{padding:5px 15px;}.site-header .container{padding-top:0;padding-bottom:0;}.site-title img{padding-top:5px}</style><link rel="icon" href="http://liezljayne.com/wp-content/uploads/2017/02/cropped-Black_Circle-32x32.png" sizes="32x32">
<link rel="icon" href="http://liezljayne.com/wp-content/uploads/2017/02/cropped-Black_Circle-192x192.png" sizes="192x192">
<link rel="apple-touch-icon-precomposed" href="http://liezljayne.com/wp-content/uploads/2017/02/cropped-Black_Circle-180x180.png">
<meta name="msapplication-TileImage" content="http://liezljayne.com/wp-content/uploads/2017/02/cropped-Black_Circle-270x270.png">
<style>.site-title img {
    width: 60%;
}</style> <style>@media print {#ghostery-purple-box {display:none !important}}</style><script data-rocketsrc="http://liezljayne.com/wp-includes/js/wp-emoji-release.min.js?ver=4.8.2" data-rocketoptimized="true" type="text/javascript" defer=""></script><style id="fit-vids-style">.fluid-width-video-wrapper{width:100%;position:relative;padding:0;}.fluid-width-video-wrapper iframe,.fluid-width-video-wrapper object,.fluid-width-video-wrapper embed {position:absolute;top:0;left:0;width:100%;height:100%;}</style><style type="text/css">.fb_hidden{position:absolute;top:-10000px;z-index:10001}.fb_reposition{overflow:hidden;position:relative}.fb_invisible{display:none}.fb_reset{background:none;border:0;border-spacing:0;color:#000;cursor:auto;direction:ltr;font-family:"lucida grande", tahoma, verdana, arial, sans-serif;font-size:11px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;line-height:1;margin:0;overflow:visible;padding:0;text-align:left;text-decoration:none;text-indent:0;text-shadow:none;text-transform:none;visibility:visible;white-space:normal;word-spacing:normal}.fb_reset>div{overflow:hidden}.fb_link img{border:none}@keyframes fb_transform{from{opacity:0;transform:scale(.95)}to{opacity:1;transform:scale(1)}}.fb_animate{animation:fb_transform .3s forwards}.fb_shrink_active{opacity:1;transform:scale(1, 1);transition-duration:200ms;transition-timing-function:ease-out}.fb_shrink_active:active{opacity:.5;transform:scale(.75, .75)}
.fb_dialog{background:rgba(82, 82, 82, .7);position:absolute;top:-10000px;z-index:10001}.fb_reset .fb_dialog_legacy{overflow:visible}.fb_dialog_advanced{padding:10px;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px}.fb_dialog_content{background:#fff;color:#333}.fb_dialog_close_icon{background:url(http://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;cursor:pointer;display:block;height:15px;position:absolute;right:18px;top:17px;width:15px}.fb_dialog_mobile .fb_dialog_close_icon{top:5px;left:5px;right:auto}.fb_dialog_padding{background-color:transparent;position:absolute;width:1px;z-index:-1}.fb_dialog_close_icon:hover{background:url(http://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent}.fb_dialog_close_icon:active{background:url(http://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent}.fb_dialog_loader{background-color:#f6f7f9;border:1px solid #606060;font-size:24px;padding:20px}.fb_dialog_top_left,.fb_dialog_top_right,.fb_dialog_bottom_left,.fb_dialog_bottom_right{height:10px;width:10px;overflow:hidden;position:absolute}.fb_dialog_top_left{background:url(http://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 0;left:-10px;top:-10px}.fb_dialog_top_right{background:url(http://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 -10px;right:-10px;top:-10px}.fb_dialog_bottom_left{background:url(http://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 -20px;bottom:-10px;left:-10px}.fb_dialog_bottom_right{background:url(http://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 -30px;right:-10px;bottom:-10px}.fb_dialog_vert_left,.fb_dialog_vert_right,.fb_dialog_horiz_top,.fb_dialog_horiz_bottom{position:absolute;background:#525252;filter:alpha(opacity=70);opacity:.7}.fb_dialog_vert_left,.fb_dialog_vert_right{width:10px;height:100%}.fb_dialog_vert_left{margin-left:-10px}.fb_dialog_vert_right{right:0;margin-right:-10px}.fb_dialog_horiz_top,.fb_dialog_horiz_bottom{width:100%;height:10px}.fb_dialog_horiz_top{margin-top:-10px}.fb_dialog_horiz_bottom{bottom:0;margin-bottom:-10px}.fb_dialog_iframe{line-height:0}.fb_dialog_content .dialog_title{background:#6d84b4;border:1px solid #365899;color:#fff;font-size:14px;font-weight:bold;margin:0}.fb_dialog_content .dialog_title>span{background:url(http://static.xx.fbcdn.net/rsrc.php/v3/yd/r/Cou7n-nqK52.gif) no-repeat 5px 50%;float:left;padding:5px 0 7px 26px}body.fb_hidden{-webkit-transform:none;height:100%;margin:0;overflow:visible;position:absolute;top:-10000px;left:0;width:100%}.fb_dialog.fb_dialog_mobile.loading{background:url(http://static.xx.fbcdn.net/rsrc.php/v3/ya/r/3rhSv5V8j3o.gif) white no-repeat 50% 50%;min-height:100%;min-width:100%;overflow:hidden;position:absolute;top:0;z-index:10001}.fb_dialog.fb_dialog_mobile.loading.centered{width:auto;height:auto;min-height:initial;min-width:initial;background:none}.fb_dialog.fb_dialog_mobile.loading.centered #fb_dialog_loader_spinner{width:100%}.fb_dialog.fb_dialog_mobile.loading.centered .fb_dialog_content{background:none}.loading.centered #fb_dialog_loader_close{color:#fff;display:block;padding-top:20px;clear:both;font-size:18px}#fb-root #fb_dialog_ipad_overlay{background:rgba(0, 0, 0, .45);position:absolute;bottom:0;left:0;right:0;top:0;width:100%;min-height:100%;z-index:10000}#fb-root #fb_dialog_ipad_overlay.hidden{display:none}.fb_dialog.fb_dialog_mobile.loading iframe{visibility:hidden}.fb_dialog_content .dialog_header{-webkit-box-shadow:white 0 1px 1px -1px inset;background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#738ABA), to(#2C4987));border-bottom:1px solid;border-color:#1d4088;color:#fff;font:14px Helvetica, sans-serif;font-weight:bold;text-overflow:ellipsis;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0;vertical-align:middle;white-space:nowrap}.fb_dialog_content .dialog_header table{-webkit-font-smoothing:subpixel-antialiased;height:43px;width:100%}.fb_dialog_content .dialog_header td.header_left{font-size:12px;padding-left:5px;vertical-align:middle;width:60px}.fb_dialog_content .dialog_header td.header_right{font-size:12px;padding-right:5px;vertical-align:middle;width:60px}.fb_dialog_content .touchable_button{background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#4966A6), color-stop(.5, #355492), to(#2A4887));border:1px solid #29487d;-webkit-background-clip:padding-box;-webkit-border-radius:3px;-webkit-box-shadow:rgba(0, 0, 0, .117188) 0 1px 1px inset, rgba(255, 255, 255, .167969) 0 1px 0;display:inline-block;margin-top:3px;max-width:85px;line-height:18px;padding:4px 12px;position:relative}.fb_dialog_content .dialog_header .touchable_button input{border:none;background:none;color:#fff;font:12px Helvetica, sans-serif;font-weight:bold;margin:2px -12px;padding:2px 6px 3px 6px;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog_content .dialog_header .header_center{color:#fff;font-size:16px;font-weight:bold;line-height:18px;text-align:center;vertical-align:middle}.fb_dialog_content .dialog_content{background:url(http://static.xx.fbcdn.net/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;border:1px solid #555;border-bottom:0;border-top:0;height:150px}.fb_dialog_content .dialog_footer{background:#f6f7f9;border:1px solid #555;border-top-color:#ccc;height:40px}#fb_dialog_loader_close{float:left}.fb_dialog.fb_dialog_mobile .fb_dialog_close_button{text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog.fb_dialog_mobile .fb_dialog_close_icon{visibility:hidden}#fb_dialog_loader_spinner{animation:rotateSpinner 1.2s linear infinite;background-color:transparent;background-image:url(http://static.xx.fbcdn.net/rsrc.php/v3/yD/r/t-wz8gw1xG1.png);background-repeat:no-repeat;background-position:50% 50%;height:24px;width:24px}@keyframes rotateSpinner{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}
.fb_iframe_widget{display:inline-block;position:relative}.fb_iframe_widget span{display:inline-block;position:relative;text-align:justify}.fb_iframe_widget iframe{position:absolute}.fb_iframe_widget_fluid_desktop,.fb_iframe_widget_fluid_desktop span,.fb_iframe_widget_fluid_desktop iframe{max-width:100%}.fb_iframe_widget_fluid_desktop iframe{min-width:220px;position:relative}.fb_iframe_widget_lift{z-index:1}.fb_hide_iframes iframe{position:relative;left:-10000px}.fb_iframe_widget_loader{position:relative;display:inline-block}.fb_iframe_widget_fluid{display:inline}.fb_iframe_widget_fluid span{width:100%}.fb_iframe_widget_loader iframe{min-height:32px;z-index:2;zoom:1}.fb_iframe_widget_loader .FB_Loader{background:url(http://static.xx.fbcdn.net/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif) no-repeat;height:32px;width:32px;margin-left:-16px;position:absolute;left:50%;z-index:4}</style></head>
    <title>PlanMe</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Rails Bootstrap" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Bootstrap" %>">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

  </head>
  <body class="post-template-default single single-post postid-12247 single-format-standard et_bloom safari iphone">

    <header class="site-header nopin">
<div class="clearfix container">
<div class="col-sm-6" id="newlogo_top">
<h1 class="site-title">
<a href="/" rel="home">
<img data-pin-nopin="true" src="https://i.imgur.com/qT1g24P.png" alt="Plan Me Banner">
</a>
</h1>
<div class="site-description"></div> </div>
 </div>
</header>

<div class="site-top">
<div class="clearfix container">
<nav class="site-menu">
<div class="clearfix menu-bar"><ul id="menu-liezl-jayne" class="menu"><li id="menu-item-9756" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-9756">
  <a href="/">Home</a>
<ul class="sub-menu">
<li id="menu-item-10394" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-10394">
  <a href="/planners">Planners</a></li>
<li id="menu-item-9721" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-9721">
  <a href="/goers">Goers</a></li>
</ul>
</li>

<li id="menu-item-11830" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11830">
  <a href="https://www.youtube.com/c/LiezlJayne">Trips</a></li>

<li id="menu-item-9762" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-9762">
  <a href="http://liezljayne.com/free">Login</a>
<ul class="sub-menu">
<li id="menu-item-10737" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10737">
  <a href="/planners/login">I.Plan</a></li>
<li id="menu-item-10738" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10738">
  <a href="/goers/login">I.Go</a></li>
</ul>
</li>
<li id="menu-item-9772" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-9772">
  <a href="/about">About</a>
<ul class="sub-menu">
<li id="menu-item-9743" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9743">
  <a href="/about">About</a></li>
<li id="menu-item-6091" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6091">
  <a href="/contact">Contact</a></li>
<li id="menu-item-11722" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11722">
  <a href="/faq">F.A.Q</a></li>
</ul>
</li>
</ul></div> </nav>
</div>
</div>

    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>
    <%= yield %>


    <footer class="site-footer">
<div class="clearfix container">
<div class="row">
<div class="col-sm-7 site-info">
© 2017 <a href="http://liezljayne.com">Liezl Jayne</a>
<div class="footer-menu-bar"><ul id="menu-footer-menu" class="menu"><li id="menu-item-7201" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7201"><a href="http://liezljayne.com/privacy-policy/">Privacy Policy</a></li>
<li id="menu-item-7202" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7202"><a href="http://liezljayne.com/terms-of-use/">Terms Of Use</a></li>
</ul></div> </div>
<div class="col-sm-5 site-credit">
<a href="http://liezljayne.com/" target="_blank"> By Liezl Jayne Strydom</a>
</div>
</div>
</div>
</footer>

  </body>
</html>
