<!DOCTYPE html>
<html>
  <head>
    <title>PlanMe</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Rails Bootstrap" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Bootstrap" %>">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

  </head>
  <body>

    <header class="site-header nopin">
<div class="clearfix container">
<div class="col-sm-6" id="newlogo_top">
<h1 class="site-title">
<a href="http://liezljayne.com/" title="Liezl Jayne" rel="home">
<img data-pin-nopin="true" src="http://liezljayne.com/wp-content/uploads/2016/07/Liezl-Jayne-logo-05-copy-copy-5-1.png" alt="Liezl Jayne">
</a>
</h1>
<div class="site-description"></div> </div>
 </div>
</header>

<div class="site-top">
<div class="clearfix container">
<nav class="site-menu">
<div class="clearfix menu-bar"><ul id="menu-liezl-jayne" class="menu"><li id="menu-item-9756" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-9756"><a href="http://liezljayne.com/category/health-lifestyle/">Blog</a>
<ul class="sub-menu">
<li id="menu-item-10394" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-10394"><a href="http://liezljayne.com/category/health-lifestyle/">LATEST</a></li>
<li id="menu-item-9721" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-9721"><a href="http://liezljayne.com/category/health-lifestyle/videos/">Videos</a></li>
<li id="menu-item-9773" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-9773"><a href="http://liezljayne.com/category/health-lifestyle/">Lifestyle</a></li>
<li id="menu-item-9744" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-9744"><a href="http://liezljayne.com/category/health-lifestyle/weight-loss/">Weightloss</a></li>
<li id="menu-item-9717" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-9717"><a href="http://liezljayne.com/category/health-lifestyle/fitness/">Fitness</a></li>
<li id="menu-item-12243" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-12243"><a href="http://liezljayne.com/category/health-lifestyle/routines/">Routines</a></li>
<li id="menu-item-9718" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-9718"><a href="http://liezljayne.com/category/health-lifestyle/natural-beauty/">Beauty</a></li>
<li id="menu-item-9870" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-9870"><a href="http://liezljayne.com/category/health-lifestyle/style/">Style</a></li>
</ul>
</li>
<li id="menu-item-9723" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-9723"><a href="http://liezljayne.com/category/recipes/">Healthy Recipes</a>
<ul class="sub-menu">
<li id="menu-item-10388" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-10388"><a href="http://liezljayne.com/category/recipes/">LATEST</a></li>
<li id="menu-item-9730" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-9730"><a href="http://liezljayne.com/category/recipes/smoothies/">Smoothies</a></li>
<li id="menu-item-9725" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-9725"><a href="http://liezljayne.com/category/recipes/breakfast-brunch/">Breakfast</a></li>
<li id="menu-item-9727" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-9727"><a href="http://liezljayne.com/category/recipes/lunch-and-dinner/">Lunch/Dinner</a></li>
<li id="menu-item-9728" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-9728"><a href="http://liezljayne.com/category/recipes/oatmeal-recipes/">Oatmeal</a></li>
<li id="menu-item-9729" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-9729"><a href="http://liezljayne.com/category/recipes/salads-food/">Salad/Soup</a></li>
<li id="menu-item-9726" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-9726"><a href="http://liezljayne.com/category/recipes/chocolate-food/">Chocolate</a></li>
<li id="menu-item-9732" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-9732"><a href="http://liezljayne.com/category/recipes/treats-and-dessert/">Treats/Dessert</a></li>
<li id="menu-item-9731" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-9731"><a href="http://liezljayne.com/category/recipes/snacks-and-other/">Snacks</a></li>
<li id="menu-item-9724" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-9724"><a href="http://liezljayne.com/category/recipes/bread/">Bread</a></li>
<li id="menu-item-11724" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-11724"><a href="http://liezljayne.com/category/recipes/what-i-eat-in-a-day/">What I Eat</a></li>
</ul>
</li>
<li id="menu-item-11830" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11830"><a href="https://www.youtube.com/c/LiezlJayne">YouTube</a></li>
<li id="menu-item-9770" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-9770"><a href="http://guides.liezljayne.com/guides">Ebooks</a>
<ul class="sub-menu">
<li id="menu-item-10740" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10740"><a href="http://guides.liezljayne.com/guides/">Ebooks</a></li>
<li id="menu-item-10741" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10741"><a href="http://guides.liezljayne.com/frequently-asked-questions-guides/">F.A.Q</a></li>
</ul>
</li>
<li id="menu-item-9762" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-9762"><a href="http://liezljayne.com/free">Free</a>
<ul class="sub-menu">
<li id="menu-item-10737" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10737"><a href="http://guides.liezljayne.com/3-day-eating-plan/">Eat Plan</a></li>
<li id="menu-item-10738" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10738"><a href="http://guides.liezljayne.com/5-essential-exercises/">Exercises</a></li>
<li id="menu-item-10739" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10739"><a href="http://guides.liezljayne.com/free/">Downloads</a></li>
</ul>
</li>
<li id="menu-item-9772" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-9772"><a href="http://liezljayne.com/about/">About</a>
<ul class="sub-menu">
<li id="menu-item-9743" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9743"><a href="http://liezljayne.com/about/">About</a></li>
<li id="menu-item-6091" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6091"><a href="http://liezljayne.com/contact/">Contact</a></li>
<li id="menu-item-11722" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11722"><a href="http://guides.liezljayne.com/frequently-asked-questions/">F.A.Q</a></li>
</ul>
</li>
</ul></div> </nav>
</div>
</div>

    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>
    <%= yield %>


    <footer class="site-footer">
<div class="clearfix container">
<div class="row">
<div class="col-sm-7 site-info">
© 2017 <a href="http://liezljayne.com">Liezl Jayne</a>
<div class="footer-menu-bar"><ul id="menu-footer-menu" class="menu"><li id="menu-item-7201" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7201"><a href="http://liezljayne.com/privacy-policy/">Privacy Policy</a></li>
<li id="menu-item-7202" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7202"><a href="http://liezljayne.com/terms-of-use/">Terms Of Use</a></li>
</ul></div> </div>
<div class="col-sm-5 site-credit">
<a href="http://liezljayne.com/" target="_blank"> By Liezl Jayne Strydom</a>
</div>
</div>
</div>
</footer>

  </body>
</html>
