<!DOCTYPE html>
<html>
  <head>

    <title>PlanMe</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Rails Bootstrap" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Bootstrap" %>">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

  </head>
  <body class="post-template-default single single-post postid-12247 single-format-standard et_bloom safari iphone">

    <header class="site-header nopin">
<div class="clearfix container">
<div class="col-sm-6" id="newlogo_top">
<h1 class="site-title">
<a href="/" rel="home">
<img data-pin-nopin="true" src="https://i.imgur.com/qT1g24P.png" alt="Plan Me Banner">
</a>
</h1>
<div class="site-description"></div> </div>
 </div>
</header>

<div class="site-top">
<div class="clearfix container">
<nav class="site-menu">
<div class="clearfix menu-bar"><ul id="menu-liezl-jayne" class="menu"><li id="menu-item-9756" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-9756">
  <a href="/">Home</a>
<ul class="sub-menu">
<li id="menu-item-10394" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-10394">
  <a href="/planners">Planners</a></li>
<li id="menu-item-9721" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-9721">
  <a href="/goers">Goers</a></li>
</ul>
</li>

<li id="menu-item-11830" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11830">
  <a href="https://www.youtube.com/c/LiezlJayne">Trips</a></li>

<li id="menu-item-9762" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-9762">
  <a href="http://liezljayne.com/free">Login</a>
<ul class="sub-menu">
<li id="menu-item-10737" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10737">
  <a href="/planners/login">I.Plan</a></li>
<li id="menu-item-10738" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10738">
  <a href="/goers/login">I.Go</a></li>
</ul>
</li>
<li id="menu-item-9772" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-9772">
  <a href="/about">About</a>
<ul class="sub-menu">
<li id="menu-item-9743" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9743">
  <a href="/about">About</a></li>
<li id="menu-item-6091" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6091">
  <a href="/contact">Contact</a></li>
<li id="menu-item-11722" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11722">
  <a href="/faq">F.A.Q</a></li>
</ul>
</li>
</ul></div> </nav>
</div>
</div>

    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>
    <%= yield %>


    <footer class="site-footer">
<div class="clearfix container">
<div class="row">
<div class="col-sm-7 site-info">
© 2017 <a href="http://liezljayne.com">Liezl Jayne</a>
<div class="footer-menu-bar"><ul id="menu-footer-menu" class="menu"><li id="menu-item-7201" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7201"><a href="http://liezljayne.com/privacy-policy/">Privacy Policy</a></li>
<li id="menu-item-7202" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7202"><a href="http://liezljayne.com/terms-of-use/">Terms Of Use</a></li>
</ul></div> </div>
<div class="col-sm-5 site-credit">
<a href="http://liezljayne.com/" target="_blank"> By Liezl Jayne Strydom</a>
</div>
</div>
</div>
</footer>

  </body>
</html>
