<!DOCTYPE html>
<html>
  <head>

    <title>PlanMe</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Rails Bootstrap" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Bootstrap" %>">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

  </head>
  <body class="landing">
  <% if current_page?(root_path) %>
      <%= render 'home/header' %>
  <% else %>
      <%= render 'layouts/header' %>
  <% end %>

<% if flash[:notice] || flash[:error] || flash[:alert]%>
  <br>
  <%= content_tag(:div, flash[:error], :id=> "flash_error", class: "errors") if flash[:error] %>
  <%= content_tag(:div, flash[:notice], :id => "flash_notice", class: "errors") if flash[:notice] %>
  <%= content_tag(:div, flash[:alert], :id => "flash_alert", class: "errors") if flash[:alert] %>
<% end %>
  <div class="errorMessages"><%= flash[:notice] %></div>

<%= yield %>

<!-- Footer -->
<footer id="footer">
	<div class="container">
	   <ul class="copyright">
			  <li>© Plan.Me by M. Sckler</li>
				<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
				<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
			</ul>
	</div>
</footer>
<!-- Scripts -->
      <script src="assets/js/jquery.min.js"></script>
      <script src="assets/js/skel.min.js"></script>
      <script src="assets/js/util.js"></script>
      <script src="assets/js/main.js"></script>
  <!-- Script for validations  -->
      <script>
          var createAllErrors = function() {
              var form = $( this ),
                  errorList = $( "ul.errorMessages", form );

              var showAllErrorMessages = function() {
                  errorList.empty();

                  // Find all invalid fields within the form.
                  var invalidFields = form.find( ":invalid" ).each( function( index, node ) {

                      // Find the field's corresponding label
                      var label = $( "label[for=" + node.id + "] "),
                          // Opera incorrectly does not fill the validationMessage property.
                          message = node.validationMessage || 'Invalid value.';

                      errorList
                          .show()
                          .append( "<li><span>" + label.html() + "</span> " + message + "</li>" );
                  });
              };

              // Support Safari
              form.on( "submit", function( event ) {
                  if ( this.checkValidity && !this.checkValidity() ) {
                      $( this ).find( ":invalid" ).first().focus();
                      event.preventDefault();
                  }
              });

              $( "input[type=submit], button:not([type=button])", form )
                  .on( "click", showAllErrorMessages);

              $( "input", form ).on( "keypress", function( event ) {
                  var type = $( this ).attr( "type" );
                  if ( /date|email|month|number|search|tel|text|time|url|week/.test ( type )
                    && event.keyCode == 13 ) {
                      showAllErrorMessages();
                  }
              });
          };

          $( "form" ).each( createAllErrors );
      </script>


<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '{your-app-id}',
      cookie     : true,
      xfbml      : true,
      version    : '{latest-api-version}'
    });

    FB.AppEvents.logPageView();

  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>


  </body>
</html>
